<h1><%=  @show %></h1>
<h1><%=  @show2 %></h1>
<h1><%=  @no1 %></h1>
<h1><%=  @no2 %></h1>
<h1><%=  @no3 %></h1>
<h1><%=  @no4 %></h1>
<h1><%=  @no5 %></h1>
<h1><%=  @haha %></h1>
<h1><%=  @compare %></h1>